html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  }
  
  body {
    position: relative;
    width: 100vw;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

